body {
    background-color: black;
}

h1 {
   text-align: center;
    color: white;
    text-shadow: 2px 2px 5px red;
}
 p {
    color: rgb(243, 226, 226);
    text-align: center;
    font-size:20px;
 }

 H2 {
    color: white;
    text-shadow: 2px 2px 5px red;
 }
 h3 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px red;
    font-size: 30px;
 }
 h4 {
    color: white;
    text-shadow: 2px 2px 5px red;
    font-size: 30px;
 }
 ul {
    color: rgb(255, 205, 205);
    text-align: center;
    text-shadow: 2px 2px 5px red;
    font-size: 20px;
 }
 h5 {
   color: white;
   text-shadow: 2px 2px 5px red;
   font-size: 30px;
 }
    